<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Dealership Review</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <link href="https://unpkg.com/bootstrap-table@1.18.2/dist/bootstrap-table.min.css" rel="stylesheet">
    <script src="https://unpkg.com/bootstrap-table@1.18.2/dist/bootstrap-table.min.js"></script>
    <script src="https://unpkg.com/bootstrap-table@1.18.2/dist/extensions/filter-control/bootstrap-table-filter-control.min.js"></script>

</head>
<body class="text-center">
    <header class="masthead mb-auto">
        <nav class="navbar navbar-light bg-light">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand" href="{% url 'djangoapp:index' %}">Online Course</a>
                    <a class="navbar-brand" href="{% url 'djangoapp:about' %}">About Us</a>
                    <a class="navbar-brand" href="{% url 'djangoapp:contact' %}">Contact Us</a>
                </div>
            </div>
        </nav>
    </header>
    <main role="main" class="inner cover">
        <h1>
            Contact Us:
        </h1>
        <h2>
            adress:
        </h2>
        <p>
            IBM @ Coursera</br>
            IT avenue 124</br>
            New York
        </p>
        <h2>
            telephone:
        </h2>
        <p>
            21-DONT-CALL
        </p>
        <h2>
            e-mail:
        </h2>
        <p>
            <a href="donotmailus@bestcarsdealership.com">donotmailus@bestcarsdealership.com</a>
        </p>
    </main>
    <footer class="mastfoot mt-auto">
        <p>Full Stack Cloud Development Capstone Project - <a href="https://github.com/KaMKaJ89/agfzb-CloudAppDevelopment_Capstone">GitHub Repo</a>, by <a href="https://github.com/KaMKaJ89">Kamil Kaja</a>.</p>
    </footer>
</body>
</html>